<h1>{{name}}</h1>
<div id='progress'></div>
{{#if subtest}}
    <h2>{{subtest.name}}</h2>
{{/if}}
{{#if subtest.ui.enumeratorHelp}}
    <button class='subtest_help command'>{{subtest.ui.text.help}}</button>
    <div class='enumerator_help' {{subtest.ui.fontStyle}}>{{{subtest.ui.enumeratorHelp}}}</div>
{{/if}}
{{#if subtest.ui.studentDialog}}
    <div class='student_dialog' {{subtest.ui.fontStyle}}>{{{subtest.ui.studentDialog}}}</div>
{{/if}}
<div id='subtest_wrapper'></div>
<div class='controlls clearfix'>
    {{#if subtest.ui.transitionComment}}
      <div class="controlls--transition-comment">
        {{{subtest.ui.transitionComment}}}
      </div>
    {{/if}}
    <button class='subtest-back navigation hidden'>{{ui.text.back}}</button>
    <button class='subtest-next navigation'>{{ui.text.next}}</button>
    <button class='skip navigation hidden'>{{ui.text.skip}}</button>
</div>
