<div class="lesson-language">{{lessonPlan_subject_full}}</div>
<div class="lesson-info">Class {{lessonPlan_grade}}<br>Week {{lessonPlan_week}} Day{{lessonPlan_day}}</div>
<div class="lesson-text">{{{lessonPlan_lesson_text}}}</div>
{{#each elements}}
    {{#if image}}
        <div><img style="width:100%;height:auto;" src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}"/></div>
        <!--{{{fileName}}}-->
        <!--{{{fileSize}}}-->
        <!--{{{fileType}}}-->
        <!--{{{name}}}-->
        <!--{{{element}}}-->
    {{else if audio}}
        <audio controls style="width:100%;height:auto;">
            <source src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}" type="{{{fileType}}}">
            Your browser does not support the audio tag.
        </audio>
    {{else if video}}
        <video controls style="width:100%;height:auto;"> 
            <source src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}" type="{{{fileType}}}">
        </video>
    {{else}}
       <div>{{{html}}}</div>
    {{/if}}
{{/each}}