<div class="lesson-info">Week: {{lessonPlan_week}} Day: {{lessonPlan_day}} <br/><br/></div>
<div class="lesson-text">{{{lessonPlan_lesson_text}}}</div>
{{#each elements}}
    {{#if image}}
        {{#if elementFilename}}
            <div><img style="width:100%;height:auto;" src="lesson_plan_media/{{{groupName}}}/{{{elementFilename}}}"/></div>
        {{else}}
            <div><img style="width:100%;height:auto;" src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}"/></div>
        {{/if}}
        <!--{{{fileName}}}-->
        <!--{{{fileSize}}}-->
        <!--{{{fileType}}}-->
        <!--{{{name}}}-->
        <!--{{{element}}}-->
        </br>
    {{else if audio}}
        <audio controls style="width:100%;height:auto;" class="mediaClick" id="audio_{{{fileName}}}">
            <source src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}" type="{{{fileType}}}">
            Your browser does not support the audio tag.
        </audio>
    {{else if video}}
        <video controls style="width:100%;height:auto;" class="mediaClick" id="video_{{{fileName}}}">
            <source src="lesson_plan_media/{{{groupName}}}/{{{fileName}}}" type="{{{fileType}}}">
        </video>
    {{else}}
       <div>{{{html}}}</div>
    {{/if}}
    </br>
{{/each}}
<p>
    <button class='quit_lp command'>Lesson Completed</button>
</p>