<div class="lesson-language">{{lessonPlan_subject_full}}</div>
<div class="lesson-info">Class {{lessonPlan_grade}}<br>Week {{lessonPlan_week}} Day{{lessonPlan_day}}</div>
<div class="image-container"><img src="images/{{lessonPlan_image}}"></div>
<div class="lesson-text">{{{lessonPlan_lesson_text}}}</div>
{{#each elements}}
    {{#each models}}
        Model Index: {{@key}} Value = {{this}}<br>
    {{/each}}

    Element Index: {{@key}} Value = {{this}}<br>
{{/each}}
{{#each this}}
    Index: {{@index}} Value = {{this}}<br>
{{/each}}