{{#unless notAsked}}
<div class='error_message'></div>
<div class='prompt' {{fontStyle}}>{{{prompt}}}</div>
<div class='hint' {{fontStyle}}>{{{hint}}}</div>
{{#if isOpen}}
    {{#if isMultiline}}
        <div><textarea id='{{cid}}_{{name}}' data-cid='{{cid}}' value='{{answerValue}}'></textarea></div>
    {{else}}
        <div><input id='{{cid}}_{{name}}' data-cid='{{cid}}' value='{{answerValue}}'></div>
    {{/if}}
{{else}}
    <div class='button_container'></div>
{{/if}}
{{#if isObservation}}
    <img src='images/icon_scroll.png' class='icon autoscroll_icon' data-cid='{{cid}}'>
{{/if}}
{{/unless}}
